@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lalezar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{margin: 0; padding: 0;}

header {
    width: 100%;
    background-color: #171528;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.icon {
    color: white;
    font-size: 3vh;
    cursor: pointer;
}

.home-icon img {
    margin-right: auto;
    width: 60px;
    padding: 10px;
}

.menu-icon {
    margin-right: 20px; /* Adiciona espaço entre o botão do menu e o input de pesquisa */
}

.search-container {
    display: flex;
    align-items: center;
    max-width: 500px;
}

.search-container input {
    width: 100%;
    padding: 13px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
}

.search-container .search-btn {
    font-size: 20px;
    background-color: #555;
    border: none;
    padding: 9px 9px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.search-container .search-btn i {
    color: white;
}

.cart-icon, .profile-icon {
    margin-left: 30px;
}


.cart-icon {
    position: relative;
}

/* Ícone de perfil com cor personalizada */
.cart-icon i {
    color: #ffffff; /* Cor azul */
}

/* Mudança de cor ao passar o mouse */
.cart-icon i:hover {
    color: #0095da; /* Cor azul ao passar o mouse */
}

.cart-icon::after {
    content: '3'; /* Exemplo de quantidade de itens no carrinho */
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(255, 4, 4);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}
/* Ícone de perfil com cor personalizada */
.profile-icon i {
    color: #ffffff; /* Cor azul */
    margin-right: 20px;
}

/* Mudança de cor ao passar o mouse */
.profile-icon i:hover {
    color: #0095da; /* Cor azul ao passar o mouse */
}


.icon profile-icon::after {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(255, 255, 255);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

/* Estilo do Banner */
.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 0%;
    display: block;
}


/* PÁGINA DE COMPRAS */
.pg-comp-container { /* Container que engloba todo o miolo da página */
    font-family: Roboto, sans-serif;
    background-color: #308DF8;
    display: flex;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.pg-comp-filtro-lateral { /* Filtro lateral esquerdo */
    width: 250px;
    height: 250px;
    font-weight: bold;
    background-color: #f4f4f4;
    margin: 96px 12px;
    padding: 15px;
}

.pg-comp-filtro-lateral-item { /* Retângulos dentro do filtro lateral */
    margin-bottom: 20px;
}

.pg-comp-filtro-lateral-item:hover { /* Põe sombra nos retângulos internos do filtro */
    box-shadow: 4px 3px 3px #c7c7c7;
}

.pg-comp-filtro-lateral-titulo { /* Edita o título dos itens do menu e o ícone de plus */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #ddd;
    padding: 10px;
    border-radius: 4px;
}

.toggle-btn { /* Edita o ícone de plus */
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.pg-comp-principal { /* Container que engloba a caixa com as imagens */
    flex: 1 1 auto;
    padding: 15px;
}

.pg-comp-filtro-sup { /* Edita o filtro superior com ordenador, buscador, e mudança de visualização */
    display: flex;
    width: 100vh;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35vh;
}

.barra-pesquisa-filtro {
    display: flex;
    align-items: center;
    
}

.barra-pesquisa-filtro input {
    width: 100%;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
}

.barra-pesquisa-filtro .search-btn{
    font-size: 16.5px;
    background-color: white;
    border: none;
    padding: 8px 8px;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.barra-pesquisa-filtro .search-btn i {
    color: black;
}

.search-bar {
    flex: 1;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
}

.filtro-ordenacao { /* Edita especificamente os ícones de seta e grade */
    color: #ffffff;
    font-size: 3.5vh;
    padding: 8px;
    cursor: pointer;
}

#pg-comp-container-grade{
    background-color: #F2F2F2;
}

.pg-comp-grade {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; 
}

.pg-comp-grade-botoes{
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
     margin-bottom: 1vh;
    /* background-color: black; */
}

.pg-comp-grade-produtos-botao1, .pg-comp-grade-produtos-botao2{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.pg-comp-grade-produtos-botao1{
    background-color: #FF5252;
}

.pg-comp-grade-produtos-botao2{
    background-color: #4CAF50;
}

.pg-comp-grade-produtos {
    background-color: #D9D9D9;
    margin: 25px;
    width: auto;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.pg-comp-grade-produtos:hover{
    box-shadow: 10px 5px 5px #C7C7C7;
}

.pg-comp-grade-produtos img {
    border-radius: 10px;
    width: 100%;

    border-bottom: 1px solid #ddd;
}

.pg-comp-grade-produtos-botao {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.pg-comp-grade-produtos-botao1:hover, .pg-comp-grade-produtos-botao2:hover{
    box-shadow: 3px 5px 5px #c0c0c0;
}

#pg-comp-elipses{
    width: 20%;
    align-items: center;
    background-color: white;
}

.fa-ellipsis {
    font-size: 10vh;
    color: #D3D3D3;
    margin-left: 50%;
    cursor: pointer;
}

/* RODAPÉ */
footer {
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;  /* Ocupa 100% da largura da tela */  
}

footer p{
    padding: 1vh;
    text-align: center;
    font-size:1.3rem;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

footer a{
    text-decoration: none;
    color: #fff;
    margin: 0;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer a:hover{
    color: #308DF8;
}

/* Responsividade */

@media only screen and (max-width: 449px){
    .navbar { /* ajusta a altura do menu superior */
        height: auto;
    }

    .search-container { /*remove o balão de pesquisa */
       display: none;
    }

    .banner{ /*remove o banner */
        display: none;
    }

    .pg-comp-container { /* orienta os elementos do container a formarem uma coluna */
        flex-direction: column;
        padding: 2vh 1vh;
    }

    .pg-comp-filtro-lateral { /*remove o filtro */
       display: none;
    }

    .pg-comp-filtro-sup { /*remove o balão de pesquisa interno */
        display: none;
    }

    .pg-comp-grade { /*os elementos dentro da grade ocupam 1 coluna */
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .pg-comp-grade-produtos img { /*as imagens se ajustam em altura de forma automática */
        height: auto;
    }
}


@media only screen and (max-width: 740px) and (min-width: 450px) {
    .navbar { /* ajusta a altura do menu superior */
        height: auto;
    }

    .search-container { /*remove o balão de pesquisa */
       display: none;
    }

    .banner{ /*remove o banner */
        display: none;
    }

    .pg-comp-container { /* orienta os elementos do container a formarem uma coluna */
        flex-direction: column;
        padding: 2vh 1vh;
    }

    .pg-comp-filtro-lateral { /*remove o filtro */
       display: none;
    }

    .pg-comp-filtro-sup { /*remove o balão de pesquisa interno */
        display: flex;
        width: auto;
        margin: 3vh 0;
    }

    .pg-comp-grade { /*os elementos dentro da grade ocupam 1 coluna */
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .pg-comp-grade-produtos img { /*as imagens se ajustam em altura de forma automática */
        height: auto;
    }
}

@media only screen and (min-width: 741px) and (max-width: 1224px) {
    .navbar { /*ajusta a altura do menu suspenso */
       height: auto;
       width: 100%;
    }

    .pg-comp-filtro-lateral{ /* alinha a caixa com a outra caixa */
        margin-top: 11vh;
    }

    .pg-comp-filtro-sup { /* garante que o filtro superior se encaixe alinhado com a caixa de baixo */
        margin-left: 0;
        width: 100%;
    }

    .pg-comp-grade { /*apresentação de 2 em 2 e a caixa se ajusta em largura automaticamente */
        grid-template-columns: 1fr 1fr;
        width: auto;
    }

    .pg-comp-grade img{ /*a altura se ajusta automaticamente das imgs */
        height: auto;
    }
}