@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lalezar&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{margin: 0; padding: 0;}

body {
    height: 100vh;
}


/* PARTE DO CABEÇALHO DE ACORDO COM O CÓDIGO MAIS ANTIGO */

header {
    width: 100%;
    background-color: #171528;
}

h1{
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 2.5rem;
}

/* EDITA A BARRA SUPERIOR DE MENU */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* EDITA OS ÍCONES DA BARRA SUPERIOR DE MENU */
.icon {
    color: white;
    font-size: 6vh;
    cursor: pointer;
}

/* EDITA A LOGOTIPO DA EMPRESA PRESENTE NA BARRA SUPERIOR DE MENU */
.home-icon img {
    margin-right: auto;
    width: 65px;
    height: auto;
    padding: 10px;
}

/* EDITA O ÍCONE DE CARRINHO DA BARRA DE MENU SUPERIOR */
.cart-icon {
    margin-right: 20px;
    position: relative;
}

/* EDITA A COR DO ÍCONE DE CARRINHO */
.cart-icon i {
    color: white;
}

/* MUDA A COR DO ÍCONE DE CARRINHO AO PASSAR O MOUSE EM CIMA DELE */
.cart-icon i:hover {
    color: #308DF8; /* TALVEZ MUDAR: Cor azul ao passar o mouse */
}

.profile-icon {
    margin-right: 20px;
    color: #ffffff; /* ou outra cor desejada */
    cursor: pointer;
    transition: color 0.3s;
}

.profile-icon:hover {
    color: #ffffff; /* azul ao passar o mouse, por exemplo */
}

.profile-icon i {
    color: #ffffff; /* Cor azul */
}

/* Mudança de cor ao passar o mouse */
.profile-icon i:hover {
    color: #0095da; /* Cor azul ao passar o mouse */
}

/* ORGANIZANDO O MIOLO DA PÁGINA DE PRODUTOS */

/* Container que engloba todo o miolo da página, exceto o menu */
.pg-comp-container {
    font-family: Roboto, sans-serif;
    background-color: #308DF8;

    /* centraliza o pg-comp-principal no meio do pg-comp-container */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Container que engloba o retângulo branco com as imagens dos produtos */
.pg-comp-principal {
    padding: 16vh;
}

#pg-comp-container-grade{ /* põe cor de fundo no container dos cards */
    background-color: #F2F2F2;
}

.pg-comp-grade { /* usa grid de 3 colunas para deixar os cards */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; 
}

.pg-comp-grade-botoes{ /* ajeita os botoes do card em flex com espaço entre eles */
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* background-color: black; */
}

.pg-comp-grade-produtos-botao1, .pg-comp-grade-produtos-botao2{ /*edita especificamente os botoes saiba mais e comprar */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.pg-comp-grade-produtos-botao1{ /* muda cor do botao saiba mais */
    background-color: #FF5252;
}

.pg-comp-grade-produtos-botao2{ /*muda cor do botao comprar */
    background-color: #4CAF50;
}

.pg-comp-grade-produtos { /*edita os cards */
    background-color: #D9D9D9;
    margin: 25px;
    width: auto;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.pg-comp-grade-produtos:hover{ /*põe sombra quando passa o mouse, sensacao de que tem ação */
    box-shadow: 10px 5px 5px #C7C7C7;
}

.pg-comp-grade-produtos img { /*mexe especificamente na imagem */
    border-radius: 10px;
    width: 100%;
    height: 50vh;
}


.pg-comp-grade-produtos-botao1:hover, .pg-comp-grade-produtos-botao2:hover{ /*põe sombra quando passa o mouse */
    box-shadow: 3px 5px 5px #c0c0c0;
}

#finalizeBtn {
    position: fixed;
    bottom: 20px;
    right: 9px;
    background-color: #007BFF; /* Cor azul */
    color: #fff; /* Texto branco */
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

#finalizeBtn:hover {
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
}










/* Responsividade */

@media only screen and (max-width: 449px){
    .navbar { /* ajusta a altura do menu superior */
        height: auto;
    }

    .search-container { /*remove o balão de pesquisa */
       display: none;
    }

    .banner{ /*remove o banner */
        display: none;
    }

    .pg-comp-container { /* orienta os elementos do container a formarem uma coluna */
        flex-direction: column;
        padding: 2vh 1vh;
    }

    .pg-comp-filtro-lateral { /*remove o filtro */
       display: none;
    }

    .pg-comp-filtro-sup { /*remove o balão de pesquisa interno */
        display: none;
    }

    .pg-comp-grade { /*os elementos dentro da grade ocupam 1 coluna */
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .pg-comp-grade-produtos img { /*as imagens se ajustam em altura de forma automática */
        height: auto;
    }
}


@media only screen and (max-width: 740px) and (min-width: 450px) {
    .navbar { /* ajusta a altura do menu superior */
        height: auto;
    }

    .search-container { /*remove o balão de pesquisa */
       display: none;
    }

    .banner{ /*remove o banner */
        display: none;
    }

    .pg-comp-container { /* orienta os elementos do container a formarem uma coluna */
        flex-direction: column;
        padding: 2vh 1vh;
    }

    .pg-comp-filtro-lateral { /*remove o filtro */
       display: none;
    }

    .pg-comp-filtro-sup { /*remove o balão de pesquisa interno */
        display: flex;
        width: auto;
        margin: 3vh 0;
    }

    .pg-comp-grade { /*os elementos dentro da grade ocupam 1 coluna */
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .pg-comp-grade-produtos img { /*as imagens se ajustam em altura de forma automática */
        height: auto;
    }
}

@media only screen and (min-width: 741px) and (max-width: 1224px) {
    .navbar { /*ajusta a altura do menu suspenso */
       height: auto;
       width: 100%;
    }

    .pg-comp-filtro-lateral{ /* alinha a caixa com a outra caixa */
        margin-top: 11vh;
    }

    .pg-comp-filtro-sup { /* garante que o filtro superior se encaixe alinhado com a caixa de baixo */
        margin-left: 0;
        width: 100%;
    }

    .pg-comp-grade { /*apresentação de 2 em 2 e a caixa se ajusta em largura automaticamente */
        grid-template-columns: 1fr 1fr;
        width: auto;
    }

    .pg-comp-grade img{ /*a altura se ajusta automaticamente das imgs */
        height: auto;
    }
}